.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.loactions {
    border-right: 1px solid #DDDDDD;
}

.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    padding-left: 40px;
}

.locations h3,
.amenities h3 {
    margin-bottom: 0;
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}