.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.loactions {
    border-right: 1px solid #DDDDDD;
}

.filters .locations, .filters .amenities-filter {
    height: 100%;
    width: 25%;
    padding-left: 40px;
}

.locations h3,
.amenities-filter h3 {
    margin-bottom: 0;
    font-weight: 600;
}

.locations h4,
.amenities-filter h4 {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    opacity: 0;
    border-radius: 4px;
    width: calc(100% + 40px);
    margin-left: -40px;
    pointer-events: none;
    z-index: 100;
}

.popover ul {
    margin-left: -20px;
}

.popover h2 {
    font-size: 16px;
}

.popover ul,
.popover li {
    list-style-type: none;
}

.locations:hover > .popover,
.amenities-filter:hover > .popover {
    opacity: 1;
}